﻿@using ABWS.Models
@model CostCenterUser
@{
    ViewBag.Title = "Add Cost Center Users";
}
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script>

    $(document).ready(function () {
        var msgDuplicateField = "@ViewBag.MsgDuplicateField";

        if (msgDuplicateField != "") {
            alert(msgDuplicateField);
        }
    });

</script>
<div class="jumbotron">
    <h3>Cost Center Users</h3>
    @using (Html.BeginForm())
    {
        <fieldset>
            <div class="form-group">
                <label>Cost Center</label>
                @Html.DropDownList("CCCode", new SelectList(ViewBag.CostCenterList, "CCCode", "CCCodeAndDescription"),"Select", new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>User ID</label>
                @Html.TextBoxFor(model => model.UserId,new { @class = "form-control" })
            </div>

            <button type="submit" class="btn btn-success">Save</button>

        </fieldset>
    }
</div>