﻿@using ABWS.Models
@model List<FinancialData>
@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script>
    //  Get the Financial Data by cost center code.
    function GetFinancialData(cc_code) {
        window.location.href = "@Url.Action("Index", "Home")?cc_code=" + cc_code;
    }
</script>
<div class="jumbotron" style="position:absolute">
    <h3>Financial Data Report</h3>
    <div>
        <select id="cboCostCenter" class="form-control" style="width:200px">
            <option value="0">Select</option>
            @{var isSelected = ""; }
            @foreach (var itemCC in ViewBag.CostCenterList as List<CostCenterMD>)
            {
                if (((string)ViewBag.CostCenterSelected).Equals(itemCC.CCCode))
                {
                    isSelected = "Selected";
                }

                <option onclick="GetFinancialData('@itemCC.CCCode');" @isSelected >@itemCC.CCDescription</option>
                isSelected = "";
            }
        </select>
    </div>
    <br/>
    <h4>Previous Year</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Cost Center</th>
                <th>PYJan</th>
                <th>PYFeb</th>
                <th>PYMar</th>
                <th>PYApr</th>
                <th>PYMay</th>
                <th>PYJun</th>
                <th>PYJul</th>
                <th>PYAug</th>
                <th>PYSep</th>
                <th>PYOct</th>
                <th>PYNov</th>
                <th>PYDec</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
                {
                    <tr class="success">
                        <td>@item.CCCode</td>
                        <td>@item.PYJan</td>
                        <td>@item.PYFeb</td>
                        <td>@item.PYMar</td>
                        <td>@item.PYApr</td>
                        <td>@item.PYMay</td>
                        <td>@item.PYJun</td>
                        <td>@item.PYJul</td>
                        <td>@item.PYAug</td>
                        <td>@item.PYSep</td>
                        <td>@item.PYOct</td>
                        <td>@item.PYNov</td>
                        <td>@item.PYDec</td>
                    </tr>
                }
        </tbody>
    </table>
    
    <br />
    <h4>Current Year</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Cost Center</th>
                <th>CYJan</th>
                <th>CYFeb</th>
                <th>CYMar</th>
                <th>CYApr</th>
                <th>CYMay</th>
                <th>CYJun</th>
                <th>CYJul</th>
                <th>CYAug</th>
                <th>CYSep</th>
                <th>CYOct</th>
                <th>CYNov</th>
                <th>CYDec</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
                {
                    <tr class="success">
                        <td>@item.CCCode</td>
                        <td>@item.CYJan</td>
                        <td>@item.CYFeb</td>
                        <td>@item.CYMar</td>
                        <td>@item.CYApr</td>
                        <td>@item.CYMay</td>
                        <td>@item.CYJun</td>
                        <td>@item.CYJul</td>
                        <td>@item.CYAug</td>
                        <td>@item.CYSep</td>
                        <td>@item.CYOct</td>
                        <td>@item.CYNov</td>
                        <td>@item.CYDec</td>
                    </tr>
                }
        </tbody>
    </table>

    <br />
    <h4>Next Year</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Cost Center</th>
                <th>NYJan</th>
                <th>NYFeb</th>
                <th>NYMar</th>
                <th>NYApr</th>
                <th>NYMay</th>
                <th>NYJun</th>
                <th>NYJul</th>
                <th>NYAug</th>
                <th>NYSep</th>
                <th>NYOct</th>
                <th>NYNov</th>
                <th>NYDec</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
                {
                    <tr class="success">
                        <td>@item.CCCode</td>
                        <td>@item.NYJan</td>
                        <td>@item.NYFeb</td>
                        <td>@item.NYMar</td>
                        <td>@item.NYApr</td>
                        <td>@item.NYMay</td>
                        <td>@item.NYJun</td>
                        <td>@item.NYJul</td>
                        <td>@item.NYAug</td>
                        <td>@item.NYSep</td>
                        <td>@item.NYOct</td>
                        <td>@item.NYNov</td>
                        <td>@item.NYDec</td>
                    </tr>
                }
        </tbody>
    </table>

</div>
