﻿@using ABWS.Models
@model List<CostCenterUser>
@{
    ViewBag.Title = "Cost Center Users";
}
<style>
    table {
        width: 716px; /* 140px * 5 column + 16px scrollbar width */
        border-spacing: 0;
    }

    tbody, thead tr {
        display: block;
    }

    tbody {
        height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    tbody td, thead th {
        width: 350px;
    }

    thead th:last-child {
        width: 366px; /* 140px + 16px scrollbar width */
    }
</style>
<script>
    var ccCodeSelected = 0;
    var userIdSelected = 0;

    //  Redirect to page Add Users
    function addUser() {
        window.location.href = "@Url.Action("AddUsers", "Home")";
    }

    //  Select the cost center code and user ID.
    function selectId(cc_code,userId) {
        ccCodeSelected = cc_code;
        userIdSelected = userId;
    }

    //  Delete the cost center code and user ID.
    function deleteItem() {
        window.location.href = "@Url.Action("DeleteUsers", "Home")?ccCode=" + ccCodeSelected + "&userId=" + userIdSelected;
    }

    //  Clean the variable of cost center code and user ID selected.
    function cancelItem() {
        ccCodeSelected = 0;
        userIdSelected = 0;
    }
</script>
<div class="jumbotron">
    <h3>Cost Center Users</h3>
    <button type="button" class="btn btn-primary" onclick="addUser()">Add</button>
    <div>
    <table class="table">
        <thead>
            <tr>
                <th>Cost Center</th>
                <th>User ID</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
                {
                    <tr class="success">
                        <td>@item.CCCode</td>
                        <td>@item.UserId</td>
                        <td><button type="button" class="btn btn-primary" onclick="selectId('@item.CCCode','@item.UserId')" data-toggle="modal" data-target="#myModal">Delete</button></td>
                    </tr>
                }
        </tbody>
    </table>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>You are sure to delete the record?</p>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="deleteItem()" class="btn btn-default" data-dismiss="modal">Yes</button>
                <button type="button" onclick="cancelItem()" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>

    </div>
</div>